<query-editor-row class="nc-query-editor-row" query-ctrl="ctrl" can-collapse="false">

    <div class="gf-form-inline">
        <div class="gf-form">
            <label class="gf-form-label query-keyword width-6">Node</label>
            <nc-spinner spinner-show-trigger="ctrl.processingNode"
                        spinner-delay="350"
                        spinner-on-change="ctrl.nodeSpinnerChanged(state)">
            </nc-spinner>
            <metric-segment segment="ctrl.nodeSegment"
                            get-options="ctrl.getNodes()"
                            on-change="ctrl.nodeChanged()"
                            ng-if="!ctrl.nodeSpinner">
            </metric-segment>
        </div>

        <div class="gf-form" ng-if="ctrl.nodeReady">
            <label class="gf-form-label query-keyword width-6">Counter</label>
            <nc-spinner spinner-show-trigger="ctrl.processingCounter"
                        spinner-delay="350"
                        spinner-on-change="ctrl.counterSpinnerChanged(state)">
            </nc-spinner>
            <div class="gf-form"
                 ng-model="ctrl.counterName"
                 dropdown-typeahead2="ctrl.counters"
                 dropdown-typeahead-on-select="ctrl.counterChanged($subItem)"
                 link-text={{ctrl.defaultCounterName}}
                 ng-if="!ctrl.counterSpinner">
            </div>
        </div>

        <div class="gf-form gf-form--grow">
            <div class="gf-form-label gf-form-label--grow"></div>
        </div>
    </div>

    <div class="gf-form-inline">
        <div class="gf-form">
            <label class="gf-form-label query-keyword width-6">Alias</label>
            <input type="text" class="gf-form-input width-20"
                   ng-model="ctrl.target.alias"
                   ng-blur="ctrl.targetChanged()"
                   placeholder="Metric alias"
                   spellcheck='false'>
        </div>

        <div class="gf-form" ng-if="!ctrl.panel.scopedVars.rawData">
            <label class="gf-form-label query-keyword width-6 gf-form-label--grow pointer"
                   ng-click="ctrl.toggleSeries()">
                <span class="query-keyword">
                    <i class="fa fa-caret-down" ng-if="ctrl.target.showSeriesOptions"></i>
                    <i class="fa fa-caret-right" ng-if="!ctrl.target.showSeriesOptions"></i>
                </span>
                Series
            </label>

            <gf-form-switch class="gf-form-inline" ng-if="ctrl.target.showSeriesOptions"
                            label="Min"
                            label-class="width-4"
                            switch-class="width-6"
                            checked="ctrl.target.series.min"
                            ng-click="ctrl.targetChanged()">
            </gf-form-switch>

            <gf-form-switch class="gf-form-inline" ng-if="ctrl.target.showSeriesOptions"
                            label="Avg"
                            label-class="width-4"
                            switch-class="width-6"
                            checked="ctrl.target.series.avg"
                            ng-click="ctrl.targetChanged()">
            </gf-form-switch>

            <gf-form-switch class="gf-form-inline" ng-if="ctrl.target.showSeriesOptions"
                            label="Max"
                            label-class="width-4"
                            switch-class="width-6"
                            checked="ctrl.target.series.max"
                            ng-click="ctrl.targetChanged()">
            </gf-form-switch>
        </div>

        <div class="gf-form gf-form--grow">
            <div class="gf-form-label gf-form-label--grow"></div>
        </div>
    </div>

</query-editor-row>
